body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#content {
    text-align: center;
}

/* Style pour l'image qui occupe tout l'écran */
.fullscreen-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* L'image couvre tout l'écran sans se déformer */
    z-index: 10;
}
